<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.securenotes">

    <application
        android:allowBackup="true"
        android:label="SecureNotes"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecureNotes">

        <!-- Dashboard principale -->
        <activity android:name=".DashboardActivity" />

        <!-- Editor di note -->
        <activity android:name=".NoteEditorActivity" />

        <!-- Schermata fallback con PIN -->
        <activity android:name=".PinActivity" />

        <activity android:name=".ChangePinActivity" />

        <activity android:name=".SettingsActivity" />



        <!-- Schermata di login con biometria -->
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
