<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.securenotes">

    <application
        android:name=".SecureNotesApplication"
        android:allowBackup="true"
        android:label="SecureNotes"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecureNotes">

        <!-- Dashboard principale -->
        <activity android:name=".DashboardActivity" />
        <activity android:name=".NoteEditorActivity" />
        <activity android:name=".PinActivity" />
        <activity android:name=".ChangePinActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SetupPinActivity" />
        <activity android:name=".FileVaultActivity" />


        <!-- Schermata di login con biometria -->
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.securenotes.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>

</manifest>
